[submodule "barrelsrc/lang-segment-anything"]
	path = barrelsrc/lang-segment-anything
	url = git@github.com:luca-medeiros/lang-segment-anything.git
[submodule "barrelsrc/GroundingDINO"]
	path = barrelsrc/GroundingDINO
	url = git@github.com:IDEA-Research/GroundingDINO.git
